@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

#hero>h2 {
    display: flex;
    text-align: center;
    justify-content: center;
}

#form,
#email {
    display: flex;
    justify-content: center;
    text-align: center;
}